section {
  display: flex;

  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--primary-color);
  padding: 5em;
}
.events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}
.event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  background-color: var(--tertiary-color);
  margin: 1em;
  min-height: 400px;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.info h4 {
  color: var(--secondary-color);
  font-size: 1.5em;
  padding-top: 1em;
  padding-bottom: 1em;
}
.info p {
  color: var(--secondary-color);
  font-size: 1em;
  padding-bottom: 1em;
}
.info a {
  color: var(--secondary-color);
  font-size: 1em;
  text-decoration: none;
  background-color: var(--primary-color);
  padding: 0.5em 1em;
  border-radius: 30px;
}
