<app-navbar></app-navbar>

<section>
  <div class="plans">
    <div class="plan">
      <h3>Plan Básico</h3>
      <p>Acceso a todas las conferencias</p>
      <p>Todos los talleres</p>
      <p>Acceso al área de expositores</p>
      <p>Reservación de asiento</p>
    </div>
    <div class="plan">
      <h3>Plan Premium</h3>
      <p>Acceso a todas las conferencias</p>
      <p>Todos los talleres</p>
      <p>Acceso al área de expositores</p>
      <p>Reservación de asiento</p>
      <p>Kit de bienvenida</p>
      <p>Clases en vivo</p>
      <p>Clases grabadas</p>
      <p>Asesor personalizado</p>
    </div>
    <div class="plan">
      <h3>Plan Intermedio</h3>
      <p>Acceso a todas las conferencias</p>
      <p>Todos los talleres</p>
      <p>Acceso al área de expositores</p>
      <p>Reservación de asiento</p>
      <p>Kit de bienvenida</p>
    </div>
  </div>
</section>
